<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <% @stylesheets.each do |href| %>
      <link rel="stylesheet" type="text/css" href="<%= href %>" />
    <% end %>
  </head>
  <body>
    <div id="main">
      <%= @content %>
    </div>
    <% @scripts.each do |src| %>
      <script src="<%= src %>"></script>
    <% end %>
  </body>
</html>
