p {
  size: 1.4em;
}

div#main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

ul#social-links {
  list-style: none;
}

ul#social-links li {
}

ul#social-links li a {
  text-decoration: none;
}

.lavender {
  color: #604878;
}
